@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
.btn-green {
  background-color: #09ba6e;
  color: white;
  border-radius: 6px;
  border: 1px solid #09ba6e;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
}
.btn-green:hover {
  background-color: transparent;
  color: #333;
}
.btn-green:focus {
  border-color: #09ba6e;
  outline: none;
  box-shadow: 0 0 0 3px rgba(9, 186, 110, 0.3);
  background-color: transparent;
  color: #333;
}

.btn-black {
  background-color: transparent;
  border-radius: 6px;
  color: #333;
  border: 1px solid #333;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
}
.btn-black:hover {
  background-color: #333;
  color: white;
}
.btn-black:focus {
  outline: none;
  background-color: #333;
  color: white;
  box-shadow: 0 0 0 3px rgba(51, 51, 51, 0.3);
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../../../public/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.navbar {
  background-color: transparent;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.16);
}

.header .navbar-brand {
  font-family: "Bruno Ace", sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Shadow with offset and blur */
}
.header .navbar-nav {
  background-color: white;
  border-radius: 20px;
}
.header .navbar-nav .nav-item {
  padding: 3px;
}
.header .navbar-nav .nav-item .nav-link.active {
  background-color: #09ba6e;
  color: white;
  border-radius: 20px;
}

.page-wrapper .window-wrapper {
  background-color: transparent;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.16);
}
.page-wrapper .window-wrapper .content-window {
  background-color: transparent;
  backdrop-filter: none;
  position: relative;
}
.page-wrapper .window-wrapper .content-window .main-content-window {
  background-color: transparent;
  backdrop-filter: blur(60px);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.auth-page {
  color: #333;
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
}
.auth-page .brand-logo h1 {
  font-family: "Bruno Ace", sans-serif;
  font-size: 100px;
  color: rgba(51, 51, 51, 0.7); /* Slightly transparent color */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Shadow with offset and blur */
}
.auth-page .wrapper {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(2px);
  font-family: "Josefin Sans", sans-serif;
}
.auth-page .wrapper p {
  color: #09ba6e;
}
.auth-page .wrapper .input-group input {
  background-color: #f7f8fa;
  box-shadow: none;
  color: #09ba6e;
}
.auth-page .wrapper .input-group input:focus {
  border-color: #09ba6e;
  box-shadow: none;
}
.auth-page .wrapper .input-group:focus-within .input-group-text {
  border-color: #09ba6e;
}
.auth-page .wrapper .input-group:focus-within .input-group-text i {
  color: #09ba6e;
}

body {
  font-family: "Playwrite CU", cursive;
  background-color: #09ba6e;
}

/*# sourceMappingURL=main.css.map */
