.btn-green {
    background-color: $secondary-color;
    color: $white;
    border-radius: 6px;
    border: 1px solid $secondary-color;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: transparent;
        color: $text-black;
    }

    &:focus {
        border-color: $secondary-color;
        outline: none;
        box-shadow: 0 0 0 3px rgba($secondary-color, 0.3);
        background-color: transparent;
        color: $text-black;
    }
}

.btn-black {
    background-color: transparent;
    border-radius: 6px;
    color: $text-black;
    border: 1px solid $text-black;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: $text-black;
        color: $text-white;
    }

    &:focus {
        outline: none;
        background-color: $text-black;
        color: $text-white;
        box-shadow: 0 0 0 3px rgba($text-black, 0.3);
    }
}

.btn-white {
    background-color: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 40px rgba(0,0,0,0.16);
    color: $text-black  ;
    border-radius: 6px;
    border: 1px solid $secondary-color;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: $white;
        color: $text-black;
        border-color: $text-black;
    }

    &:focus {
        border-color: $secondary-color;
        outline: none;
        box-shadow: 0 0 0 3px rgba($secondary-color, 0.3);
        background-color: transparent;
        color: $text-black;
    }
}

.btn-outline{
    border: none;
    outline: none;
    background-color: transparent;
    color: $text-black;

    &:hover{
        color: $secondary-color;
    }
}

.btn-green-outline {
    background-color: $white;
    color: $secondary-color;
    border-radius: 6px;
    border: 1px solid $secondary-color;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: $secondary-color;
        color: $text-white;
    }

    &:focus {
        border-color: $secondary-color;
        outline: none;
        box-shadow: 0 0 0 3px rgba($secondary-color, 0.3);
        background-color: transparent;
        color: $text-black;
    }
}

.btn-disabled {
    background-color: rgba($secondary-color, 0.5);
    color: $white;
    border-radius: 6px;
    border: 1px solid $secondary-color;
}

.btn-menu {
    background-color: $bg-light-gray;
    font-size: 16px;
    color: $text-dark-gray;
    border: 1px solid $border-light-gray;
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
  
    &:hover {
      background-color: $bg-hover-gray;
      color: $text-darker-gray;
      border-color: $border-hover-gray;
    }
  
    &:focus {
      border-color: $focus-border-color;
      outline: none;
      box-shadow: 0 0 0 3px $focus-shadow-color;
      background-color: $bg-light-gray;
      color: $text-dark-gray;
    }
  }
  
.table-settings{
    .btn-menu {
        background-color: $bg-light-gray;
        font-size: 12px;
        color: $text-dark-gray;
        border: 1px solid $border-light-gray;
        padding: 8px 16px;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
      
        &:hover {
          background-color: $bg-hover-gray;
          color: $text-darker-gray;
          border-color: $border-hover-gray;
        }
      
        &:focus {
          border-color: $focus-border-color;
          outline: none;
          box-shadow: 0 0 0 3px $focus-shadow-color;
          background-color: $bg-light-gray;
          color: $text-dark-gray;
        }
      }
}