.chat-input {
    border-radius: 10px;
    border: 1px solid #ccc; 
    padding: 0.5rem;

    &:focus{
        box-shadow: 0 0 5px $secondary-color; 
        outline: none;
    }
}

.chat-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 

    .chat-bubble {
        max-width: 90%; 
        width: auto;
        padding: 0.5rem;
        border-radius: 10px;
        margin-bottom: 0.5rem;
        word-wrap: break-word;
        overflow-wrap: break-word; 
        white-space: pre-wrap;

        &.ai {
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px 10px 10px 0px; 
            align-self: flex-start;
            text-align: left; 
            background-color: white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        &.human {
            border: 1px solid $secondary-color; 
            border-radius: 10px 10px 0 10px;
            align-self: flex-end;
            text-align: right; 
            background-color: white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    }
}





.chat-content {
    scroll-behavior: smooth;
}
