.notepad-header {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;

    input {
        border: none;
        background-color: transparent;
        outline: none; 

        &:focus {
            outline: none !important; 
            box-shadow: none;
            background-color: transparent;
        }
    }

    button {
        border-radius: 20px;
    }
}

.notepad-editor{
    height: 75vh;
    overflow-x: auto;
    overflow-y: auto;

    .quill{
        height: 75vh;
    }
}