.page-wrapper {
    .window-wrapper {
        background-color: transparent; // Transparent background for the wrapper
        backdrop-filter: blur(5px); // Apply blur to the background
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.16); // Optional: add shadow for visual effect

        .content-window {
            background-color: transparent; // Fully transparent
            backdrop-filter: none; // Remove blur effect for the child
            position: relative; // Ensure positioning context for child elements

            .main-content-window {
                background-color:transparent;
                backdrop-filter: blur(60px); // Apply blur to the background
                border-radius: 10px; // Optional: rounded corners
                height: 100%; // Ensure it takes full height
                width: 100%; // Ensure it takes full width
            }
        }
    }
}
