.page-wrapper {
    .window-wrapper {
        background-color: transparent; 
        backdrop-filter: blur(5px);
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.16);

        .content-window {
            background-color: transparent;
            backdrop-filter: none;
            position: relative;

            .main-content-window {
                background-color:transparent;
                backdrop-filter: blur(60px); 
                border-radius: 10px; 
                height: 100%; 
                width: 100%;
            }
        }
    }
}
