@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

// Fonts
$font-primary : "Josefin Sans", sans-serif; 
$brand-font :  "Bruno Ace", sans-serif;

// Generic colors
$primary-color: #f7f8fa;
$secondary-color: #09ba6e;
$text-black: #333;
$text-white: #ffff;
$white: #ffff;